.rheader 
{
    width: 100%;
    height: 70px;
    background-color: red;
    float: left;
    margin-bottom: 15px;
}
.rnav
{
    width: 100%;
    height: 470px;
    background-color: gray;
    float: left;
}
.rmain
{
    width: 100%;
    height: 470px;
    background-color: blue;
    float: left;
   
}

.saidbar
{
    width: 100%;
    height: 470px;
    background-color: green;
    float: left;

}
.rfutor
{
    width: 100%;
    height: 70px;
    background-color: red;
    float: left;
    margin-top: 15px;

}